USE [BD_ugerdes_capacitagrd]
GO
/****** Object:  StoredProcedure [dbo].[USP_CONFIGURACION_SEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CONFIGURACION_SEL]
@ID_CONFIGURACION INT
AS
BEGIN
	 
		SELECT 
		TEXTO_NOTIFICACION
		, TEXTO_NOTIFICACION_ADJUNTO
		, TEXTO_CERTIFICADO
		, TEXTO_DOCUMENTO
		, TEXTO_CONSTANCIA
		, ID_CONFIGURACION
		FROM dbo.CONFIGURACION
		WHERE ID_CONFIGURACION = @ID_CONFIGURACION 
		;
END
 
GO
/****** Object:  StoredProcedure [dbo].[USP_CONFIGURACION_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CONFIGURACION_UPD]
      @TEXTO_NOTIFICACION TEXT
	, @TEXTO_NOTIFICACION_ADJUNTO TEXT
	, @TEXTO_CERTIFICADO TEXT
	, @TEXTO_DOCUMENTO TEXT
	, @TEXTO_CONSTANCIA TEXT	
	, @ID_CONFIGURACION INT

AS
BEGIN
	 
	SET NOCOUNT ON;

	UPDATE dbo.CONFIGURACION
	SET 
	  TEXTO_NOTIFICACION= @TEXTO_NOTIFICACION
	, TEXTO_NOTIFICACION_ADJUNTO= @TEXTO_NOTIFICACION_ADJUNTO
	, TEXTO_CERTIFICADO= @TEXTO_CERTIFICADO
	, TEXTO_DOCUMENTO= @TEXTO_DOCUMENTO
	, TEXTO_CONSTANCIA = @TEXTO_CONSTANCIA
	WHERE ID_CONFIGURACION= @ID_CONFIGURACION;

END
 
GO
/****** Object:  StoredProcedure [dbo].[USP_CUESTIONARIO_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CUESTIONARIO_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 1
	
	SELECT @ALL_ROWS = COUNT(ID_CUESTIONARIO)       
  	FROM dbo.CUESTIONARIO;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_CUESTIONARIO ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_CUESTIONARIO
 	, NOMBRE
 	, FECHA_REG
 	, USER_REG
 	, FECHA_UPD
 	, USER_UPD
	FROM dbo.CUESTIONARIO;
	
END
 
--EXEC USP_CUESTIONARIO_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_CUESTIONARIO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CUESTIONARIO_DEL]
	@ID_CUESTIONARIO INT 

AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	DELETE FROM dbo.CUESTIONARIO
	WHERE ID_CUESTIONARIO=@ID_CUESTIONARIO;

END



GO
/****** Object:  StoredProcedure [dbo].[USP_CUESTIONARIO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CUESTIONARIO_GET]  
@ID_CUESTIONARIO INT 


AS
BEGIN
	
	SELECT  	 
		ID_CUESTIONARIO
		, NOMBRE
		, FECHA_REG
		, USER_REG
		, USER_UPD
		, FECHA_UPD
 	, NULL FILA
 	, NULL REGISTROS 	
	FROM dbo.CUESTIONARIO
	WHERE ID_CUESTIONARIO = @ID_CUESTIONARIO
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CUESTIONARIO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CUESTIONARIO_INS]
 	  @NOMBRE VARCHAR(250)
 	  , @USER_REG VARCHAR(250)
 	, @ID_CUESTIONARIO INT OUTPUT
AS
BEGIN
	 
	SET NOCOUNT ON; 

	INSERT INTO dbo.CUESTIONARIO
	(NOMBRE, USER_REG)
	VALUES(@NOMBRE, @USER_REG);

	SET @ID_CUESTIONARIO = @@IDENTITY

END
GO
/****** Object:  StoredProcedure [dbo].[USP_CUESTIONARIO_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_CUESTIONARIO_UPD]
 	  @NOMBRE VARCHAR(250)
 	  , @USER_UPD VARCHAR(250) 	  
 	, @ID_CUESTIONARIO INT 

AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	UPDATE dbo.CUESTIONARIO
	SET NOMBRE=@NOMBRE
	, USER_UPD = @USER_UPD
	, FECHA_UPD = GETDATE() 
	WHERE ID_CUESTIONARIO=@ID_CUESTIONARIO;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 1
	
	SELECT @ALL_ROWS = COUNT(ID_ENCUESTA)       
  	FROM dbo.ENCUESTA;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_ENCUESTA ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_ENCUESTA
 	, NOMBRE
 	, FECHA_REG
 	, USER_REG
 	, FECHA_UPD
 	, USER_UPD
	FROM dbo.ENCUESTA;
	
END
 
--EXEC USP_MAE_PROFESION_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_DEL]
 
  @ID_ENCUESTA INT
 
AS
BEGIN
	 
	SET NOCOUNT ON; 
	 

	DELETE FROM dbo.ENCUESTA_RESPUESTA
	WHERE ID_ENCUESTA = @ID_ENCUESTA ;

	DELETE FROM dbo.ENCUESTA	
	WHERE ID_ENCUESTA = @ID_ENCUESTA ;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_GET]  
@ID_ENCUESTA INT 


AS
BEGIN
	
	SELECT  	 
		ID_ENCUESTA
		, NOMBRE
		, FECHA_REG
		, USER_REG
		, USER_UPD
		, FECHA_UPD
 	, NULL FILA
 	, NULL REGISTROS 	
	FROM dbo.ENCUESTA
	WHERE ID_ENCUESTA = @ID_ENCUESTA
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_INS]
 	  @NOMBRE VARCHAR(250)
	, @USER_REG VARCHAR(250) 	  
 	, @ID_ENCUESTA INT OUTPUT 	
AS
BEGIN
	 
	SET NOCOUNT ON; 

	INSERT INTO dbo.ENCUESTA
	(NOMBRE, USER_REG)
	VALUES(@NOMBRE, @USER_REG);

	SET @ID_ENCUESTA = @@IDENTITY

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_RESPUESTA_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_RESPUESTA_ALL]  
@ID_ENCUESTA INT
AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0;
	
	SELECT @ALL_ROWS = COUNT(1)       
  	FROM dbo.ENCUESTA_RESPUESTA
  	WHERE ID_ENCUESTA  = @ID_ENCUESTA;
  
	SELECT
	ROW_NUMBER() OVER(ORDER BY ID_RESPUESTA ) AS FILA
 	, @ALL_ROWS AS REGISTROS
 	
	, ID_RESPUESTA
	, NOMBRE
	, RESPUESTAS
	, ID_ENCUESTA
	, ID_TIPO_ENCUESTA_PREGUNTA
	FROM dbo.ENCUESTA_RESPUESTA
	WHERE ID_ENCUESTA  = @ID_ENCUESTA;
END
 
--EXEC USP_MAE_PROFESION_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_RESPUESTA_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_RESPUESTA_DEL]
	@ID_RESPUESTA INT 

AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	DELETE FROM dbo.ENCUESTA_RESPUESTA
	WHERE ID_RESPUESTA=@ID_RESPUESTA;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_RESPUESTA_DEL_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_RESPUESTA_DEL_ALL]
	@ID_ENCUESTA INT 

AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	DELETE FROM dbo.ENCUESTA_RESPUESTA
	WHERE ID_ENCUESTA=@ID_ENCUESTA;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_RESPUESTA_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_RESPUESTA_GET]
@ID_RESPUESTA INT
AS
BEGIN
	  
	SELECT
	
	  ID_RESPUESTA
	, NOMBRE
	, RESPUESTAS
	, ID_ENCUESTA
	, ID_TIPO_ENCUESTA_PREGUNTA
	, NULL FILA
 	, NULL REGISTROS 	
	FROM dbo.ENCUESTA_RESPUESTA
	WHERE ID_RESPUESTA  = @ID_RESPUESTA;
END
 
--EXEC USP_ENCUESTA_RESPUESTA_ALL 1
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_RESPUESTA_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_RESPUESTA_INS]
	  @NOMBRE VARCHAR(250)
	, @RESPUESTAS VARCHAR(250)
	, @ID_ENCUESTA INT
	, @ID_TIPO_ENCUESTA_PREGUNTA INT
 	, @ID_RESPUESTA INT OUTPUT
AS
BEGIN
	 
	SET NOCOUNT ON; 

	INSERT INTO dbo.ENCUESTA_RESPUESTA
	(NOMBRE, RESPUESTAS, ID_ENCUESTA, ID_TIPO_ENCUESTA_PREGUNTA)
	VALUES(@NOMBRE, @RESPUESTAS, @ID_ENCUESTA, @ID_TIPO_ENCUESTA_PREGUNTA);

	SET @ID_RESPUESTA = @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_RESPUESTA_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_ENCUESTA_RESPUESTA_UPD]
	  @NOMBRE VARCHAR(250)
	, @RESPUESTAS VARCHAR(250)
	, @ID_ENCUESTA INT
	, @ID_TIPO_ENCUESTA_PREGUNTA INT
 	, @ID_RESPUESTA INT 
AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	UPDATE dbo.ENCUESTA_RESPUESTA
	SET NOMBRE=@NOMBRE
	, RESPUESTAS=@RESPUESTAS
	, ID_ENCUESTA=@ID_ENCUESTA
	, ID_TIPO_ENCUESTA_PREGUNTA=@ID_TIPO_ENCUESTA_PREGUNTA
	WHERE ID_RESPUESTA=@ID_RESPUESTA;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ENCUESTA_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ENCUESTA_UPD]
 	  @NOMBRE VARCHAR(250)
 	  , @USER_UPD VARCHAR(250) 	  
 	, @ID_ENCUESTA INT 

AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	UPDATE dbo.ENCUESTA
	SET NOMBRE=@NOMBRE
	, USER_UPD = @USER_UPD
	, FECHA_UPD = GETDATE() 
	WHERE ID_ENCUESTA=@ID_ENCUESTA;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	SELECT @ALL_ROWS = COUNT(ID_EVENTO)       
  	FROM dbo.EVENTO;
 
	SELECT
	ROW_NUMBER() OVER(ORDER BY ID_EVENTO ) AS FILA
 	 , @ALL_ROWS AS REGISTROS
 	
	 , ID_EVENTO
	 , COD_EVENTO
	 , NOMBRE
	 , FECHA_INICIO
	 , FECHA_FIN
	 , NOMBRE_LUGAR
	 , ID_ESTADO
	 , ID_UBIGEO
	 , BANNER
	 , NUM_PARTICIPANTES
	 , DESCRIPCION
	 , ENLACE_WHATSAPP
	 , HORA_INICIO
	 , HORA_FIN
	 , RED_SOCIAL
	 , ID_TIPO_EVENTO
	 , ID_MODALIDAD
	 , USER_REG
	 , FECHA_REG
	 , USER_UPD
	 , FECHA_UPD
	 , GENERA_TICKET	
	 , ENVIA_CORREO
	 , ID_ENCUESTA
 	 , ID_CUESTIONARIO
     , FORMATO
     , REQUIERE_DOCUMENTO
	FROM dbo.EVENTO;

END
 
--EXEC MAE_TIPO_EVENTO
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_ASISTENCIA_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_ASISTENCIA_DEL]
 
  @ID_EVENTO INT
, @ID_PERSONA INT
, @FECHA DATE

AS
BEGIN
	 
	SET NOCOUNT ON; 
	 
	DELETE FROM dbo.EVENTO_ASISTENCIA
	WHERE ID_EVENTO=@ID_EVENTO 
	AND ID_PERSONA=@ID_PERSONA 
	AND FECHA=@FECHA;
 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_ASISTENCIA_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_ASISTENCIA_INS]
 
  @ID_EVENTO INT
, @ID_PERSONA INT
, @ID_MODALIDAD INT

AS
BEGIN
	 
	SET NOCOUNT ON; 
	 
	INSERT INTO dbo.EVENTO_ASISTENCIA
	(ID_EVENTO, ID_PERSONA, FECHA, ID_MODALIDAD)
	VALUES(@ID_EVENTO, @ID_PERSONA, GETDATE(), @ID_MODALIDAD);
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_ASISTENCIA_SEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_ASISTENCIA_SEL]
  @ID_EVENTO INT
, @ID_PERSONA INT
, @FECHA DATE

AS
BEGIN

	SELECT 
	ID_EVENTO
	, ID_PERSONA
	, FECHA
	, FECHA_REG
	, ID_MODALIDAD
	, NULL FILA
	, NULL REGISTROS
	FROM dbo.EVENTO_ASISTENCIA
	WHERE ID_EVENTO  = @ID_EVENTO 
	AND ID_PERSONA = @ID_PERSONA 
	AND FECHA = @FECHA 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_ASISTENCIA_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_EVENTO_ASISTENCIA_UPD]
 
  @ID_EVENTO INT
, @ID_PERSONA INT
, @FECHA DATE
, @ID_MODALIDAD INT

AS
BEGIN
	 
	SET NOCOUNT ON; 
	 
	UPDATE dbo.EVENTO_ASISTENCIA
	SET ID_MODALIDAD=@ID_MODALIDAD
	WHERE ID_EVENTO=@ID_EVENTO 
	AND ID_PERSONA=@ID_PERSONA 
	AND FECHA=@FECHA;

 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_DEL]  
 @ID_EVENTO INT 

AS
BEGIN
	
	SET NOCOUNT ON;

	DELETE FROM dbo.EVENTO_DOCUMENTO
	WHERE ID_EVENTO=@ID_EVENTO;

	DELETE FROM dbo.EVENTO_ASISTENCIA
	WHERE ID_EVENTO=@ID_EVENTO;

	DELETE FROM dbo.EVENTO_FECHA
	WHERE ID_EVENTO=@ID_EVENTO;

	DELETE FROM dbo.EVENTO_PARTICIPANTE
	WHERE ID_EVENTO=@ID_EVENTO;
 
	DELETE dbo.EVENTO	
	WHERE ID_EVENTO=@ID_EVENTO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_DOCUMENTO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_EVENTO_DOCUMENTO_DEL]
	  @ID_EVENTO INT
 
AS
BEGIN	
	
	SET NOCOUNT ON;
	DELETE FROM dbo.EVENTO_DOCUMENTO
	WHERE ID_EVENTO = @ID_EVENTO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_DOCUMENTO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_DOCUMENTO_INS]
	  @ID_EVENTO INT
	, @ID_TIPO_DOCUMENTO_REQUERIDO INT

AS
BEGIN	
	
	SET NOCOUNT ON;
	INSERT INTO dbo.EVENTO_DOCUMENTO
	(ID_EVENTO, ID_TIPO_DOCUMENTO_REQUERIDO)
	VALUES(@ID_EVENTO, @ID_TIPO_DOCUMENTO_REQUERIDO);
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_DOCUMENTO_SEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_DOCUMENTO_SEL]  
@ID_EVENTO INT

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_TIPO_DOCUMENTO_REQUERIDO ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_EVENTO
 	, ID_TIPO_DOCUMENTO_REQUERIDO
	FROM dbo.EVENTO_DOCUMENTO 
	WHERE ID_EVENTO = @ID_EVENTO
	
END
 
--EXEC USP_MAE_CARGO_SEL_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_FECHA_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_FECHA_ALL]  
@ID_EVENTO INT

AS
BEGIN	
		SELECT 
			ID_EVENTO
		, FECHA
		, HORA_INICIO
		, HORA_FIN
		, ES_ENCUESTA
		, ID_ENCUESTA
		, ES_CUESTIONARIO
		, ID_CUESTIONARIO
		
		, NULL FILA
 		, NULL REGISTROS 
		
		FROM dbo.EVENTO_FECHA
		WHERE ID_EVENTO = @ID_EVENTO

END
 
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_FECHA_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_FECHA_DEL]
 
  @ID_EVENTO INT
, @FECHA DATE

AS
BEGIN
	 
	SET NOCOUNT ON; 
	 
	DELETE FROM dbo.EVENTO_FECHA
	WHERE ID_EVENTO=@ID_EVENTO 
	AND FECHA=@FECHA;
 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_FECHA_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_FECHA_GET]
 @ID_EVENTO INT , 
 @FECHA DATE

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	
	SELECT 
	  ID_EVENTO
	, FECHA
	, HORA_INICIO
	, HORA_FIN
	, ES_ENCUESTA
	, ID_ENCUESTA
	, ES_CUESTIONARIO
	, ID_CUESTIONARIO
	, NULL FILA
 	, NULL REGISTROS
	FROM BD_ugerdes_capacitagrd.dbo.EVENTO_FECHA
	WHERE ID_EVENTO = @ID_EVENTO 
	AND FECHA = @FECHA
	 	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_FECHA_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_FECHA_INS]
 
  @ID_EVENTO INT
, @FECHA DATE
, @HORA_INICIO TIME
, @HORA_FIN TIME
, @ES_ENCUESTA CHAR(1)
, @ID_ENCUESTA INT
, @ES_CUESTIONARIO CHAR(1)
, @ID_CUESTIONARIO INT


AS
BEGIN
	 
	SET NOCOUNT ON; 

	INSERT INTO dbo.EVENTO_FECHA
	(ID_EVENTO, FECHA, HORA_INICIO, HORA_FIN, ES_ENCUESTA, ID_ENCUESTA, ES_CUESTIONARIO, ID_CUESTIONARIO)
	VALUES(@ID_EVENTO, @FECHA, @HORA_INICIO, @HORA_FIN, @ES_ENCUESTA, @ID_ENCUESTA, @ES_CUESTIONARIO, @ID_CUESTIONARIO);
	 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_FECHA_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_EVENTO_FECHA_UPD]
 
  @ID_EVENTO INT
, @FECHA DATE
, @HORA_INICIO TIME
, @HORA_FIN TIME
, @ES_ENCUESTA CHAR(1)
, @ID_ENCUESTA INT
, @ES_CUESTIONARIO CHAR(1)
, @ID_CUESTIONARIO INT

AS
BEGIN
	 
	SET NOCOUNT ON; 
	 
	UPDATE dbo.EVENTO_FECHA
	SET HORA_INICIO=@HORA_INICIO
	, HORA_FIN=@HORA_FIN
	, ES_ENCUESTA=@ES_ENCUESTA
	, ID_ENCUESTA=@ID_ENCUESTA
	, ES_CUESTIONARIO=@ES_CUESTIONARIO
	, ID_CUESTIONARIO=@ID_CUESTIONARIO
	WHERE ID_EVENTO=@ID_EVENTO 
	AND FECHA=@FECHA;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_GET]  
@ID_EVENTO INT 


AS
BEGIN
	
	SELECT 
	ID_EVENTO
	, COD_EVENTO
	, NOMBRE
	, FECHA_INICIO
	, FECHA_FIN
	, NOMBRE_LUGAR
	, ID_ESTADO
	, ID_UBIGEO
	, BANNER
	, NUM_PARTICIPANTES
	, DESCRIPCION
	, ENLACE_WHATSAPP
	, HORA_INICIO
	, HORA_FIN
	, RED_SOCIAL
	, ID_TIPO_EVENTO
	, ID_MODALIDAD
	, USER_REG
	, FECHA_REG
	, USER_UPD
	, FECHA_UPD
	, GENERA_TICKET
	, ENVIA_CORREO
	, ID_ENCUESTA
	, ID_CUESTIONARIO
	, FORMATO
	, REQUIERE_DOCUMENTO
	, NULL FILA
 	, NULL REGISTROS 
 	
	FROM dbo.EVENTO
	WHERE ID_EVENTO = @ID_EVENTO
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_INS]
  @NOMBRE VARCHAR(250)
, @FECHA_INICIO DATE
, @FECHA_FIN DATE
, @NOMBRE_LUGAR VARCHAR(250)
, @ID_ESTADO INT
, @ID_UBIGEO INT
, @BANNER  VARCHAR(250)
, @NUM_PARTICIPANTES INT
, @DESCRIPCION TEXT
, @ENLACE_WHATSAPP  TEXT
, @HORA_INICIO TIME
, @HORA_FIN TIME
, @RED_SOCIAL TEXT
, @ID_TIPO_EVENTO INT
, @ID_MODALIDAD INT
, @USER_REG VARCHAR(250)
, @GENERA_TICKET CHAR(1)	
, @ENVIA_CORREO CHAR(1)
, @ID_ENCUESTA INT
, @ID_CUESTIONARIO INT
, @FORMATO VARCHAR(250)
, @REQUIERE_DOCUMENTO CHAR(1)

, @ID_EVENTO INT OUTPUT

AS
BEGIN
	DECLARE @COD_EVENTO VARCHAR(250) =  NEWID();
	
	SET NOCOUNT ON; 

	INSERT INTO dbo.EVENTO
	(COD_EVENTO, NOMBRE, FECHA_INICIO, FECHA_FIN, NOMBRE_LUGAR, ID_ESTADO, ID_UBIGEO, BANNER, NUM_PARTICIPANTES, DESCRIPCION, ENLACE_WHATSAPP, HORA_INICIO, HORA_FIN, RED_SOCIAL, ID_TIPO_EVENTO, ID_MODALIDAD, USER_REG, GENERA_TICKET	, ENVIA_CORREO, ID_ENCUESTA, ID_CUESTIONARIO, FORMATO, REQUIERE_DOCUMENTO)
	VALUES(@COD_EVENTO, @NOMBRE, @FECHA_INICIO, @FECHA_FIN, @NOMBRE_LUGAR, @ID_ESTADO, @ID_UBIGEO, @BANNER, @NUM_PARTICIPANTES, @DESCRIPCION, @ENLACE_WHATSAPP, @HORA_INICIO, @HORA_FIN, @RED_SOCIAL, @ID_TIPO_EVENTO, @ID_MODALIDAD, @USER_REG, @GENERA_TICKET	, @ENVIA_CORREO, @ID_ENCUESTA, @ID_CUESTIONARIO, @FORMATO, @REQUIERE_DOCUMENTO);
	
	SET @ID_EVENTO = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX) 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_EVENTO
			 , COD_EVENTO
			 , NOMBRE
			 , FECHA_INICIO
			 , FECHA_FIN
			 , NOMBRE_LUGAR
			 , ID_ESTADO
			 , ID_UBIGEO
			 , BANNER
			 , NUM_PARTICIPANTES
			 , DESCRIPCION
			 , ENLACE_WHATSAPP
			 , HORA_INICIO
			 , HORA_FIN
			 , RED_SOCIAL
			 , ID_TIPO_EVENTO
			 , ID_MODALIDAD
			 , USER_REG
			 , FECHA_REG
			 , USER_UPD
			 , FECHA_UPD
			 , GENERA_TICKET	
			 , ENVIA_CORREO			 
			 , ID_ENCUESTA
			 , ID_CUESTIONARIO
			 , FORMATO
			 , REQUIERE_DOCUMENTO
			FROM dbo.EVENTO
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_PARTICIPANTE_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_PARTICIPANTE_DEL]
 
  @ID_EVENTO INT
, @ID_PERSONA_DATA INT

AS
BEGIN
	 
	SET NOCOUNT ON; 
	 
	DELETE FROM dbo.EVENTO_PARTICIPANTE	
	WHERE ID_EVENTO=@ID_EVENTO 
	AND ID_PERSONA_DATA=@ID_PERSONA_DATA; 

END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_PARTICIPANTE_EVENTOS_SEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_PARTICIPANTE_EVENTOS_SEL]
 @ID_PERSONA INT

AS
BEGIN

	SELECT 
	  ID_EVENTO
	, ID_PERSONA_DATA
	, ID_MODALIDAD
	, FECHA_REG
	, LATITUD
	, LONGITUD
	, ID_PERSONA
	, NULL FILA
	, NULL REGISTROS
	FROM dbo.EVENTO_PARTICIPANTE
	WHERE ID_PERSONA = @ID_PERSONA 
END

GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_PARTICIPANTE_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_PARTICIPANTE_INS]	
	  @ID_EVENTO INT
	, @ID_PERSONA_DATA INT
	, @ID_MODALIDAD	INT
	, @LATITUD FLOAT
	, @LONGITUD FLOAT
	, @ID_PERSONA INT

AS
BEGIN
	 
	SET NOCOUNT ON; 

	INSERT INTO BD_ugerdes_capacitagrd.dbo.EVENTO_PARTICIPANTE
	(ID_EVENTO, ID_PERSONA_DATA, ID_MODALIDAD, FECHA_REG, LATITUD, LONGITUD, ID_PERSONA)
	VALUES(@ID_EVENTO, @ID_PERSONA_DATA, @ID_MODALIDAD, GETDATE(), @LATITUD, @LONGITUD, @ID_PERSONA);

END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_PARTICIPANTE_SEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_PARTICIPANTE_SEL]
  @ID_EVENTO INT
, @ID_PERSONA INT

AS
BEGIN

	SELECT 
	  ID_EVENTO
	, ID_PERSONA_DATA
	, ID_MODALIDAD
	, FECHA_REG
	, LATITUD
	, LONGITUD
	, ID_PERSONA
	, NULL FILA
	, NULL REGISTROS
	FROM dbo.EVENTO_PARTICIPANTE
	WHERE ID_EVENTO  = @ID_EVENTO 
	AND ID_PERSONA = @ID_PERSONA 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_PARTICIPANTE_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EVENTO_PARTICIPANTE_UPD]
 	  @ID_EVENTO INT
 	, @ID_PERSONA_DATA INT
 	, @ID_MODALIDAD INT
 	, @LATITUD FLOAT
 	, @LONGITUD FLOAT

AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	UPDATE dbo.EVENTO_PARTICIPANTE
	SET ID_MODALIDAD=@ID_MODALIDAD
	, LATITUD=@LATITUD
	, LONGITUD=@LONGITUD
	WHERE ID_EVENTO=@ID_EVENTO 
	AND ID_PERSONA_DATA=@ID_PERSONA_DATA; 

END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_EVENTO_UPD]
  @NOMBRE VARCHAR(250)
, @FECHA_INICIO DATE
, @FECHA_FIN DATE
, @NOMBRE_LUGAR VARCHAR(250)
, @ID_ESTADO INT
, @ID_UBIGEO INT
, @BANNER  VARCHAR(250)
, @NUM_PARTICIPANTES INT
, @DESCRIPCION TEXT
, @ENLACE_WHATSAPP  TEXT
, @HORA_INICIO TIME
, @HORA_FIN TIME
, @RED_SOCIAL TEXT
, @ID_TIPO_EVENTO INT
, @ID_MODALIDAD INT
, @USER_UPD VARCHAR(250)
, @GENERA_TICKET CHAR(1)	
, @ENVIA_CORREO CHAR(1)
, @ID_ENCUESTA INT
, @ID_CUESTIONARIO INT
, @FORMATO VARCHAR(250)
, @REQUIERE_DOCUMENTO CHAR(1)
, @ID_EVENTO INT 


AS
BEGIN
 	
	SET NOCOUNT ON;
	UPDATE dbo.EVENTO
	SET 
	  NOMBRE=@NOMBRE
	, FECHA_INICIO=@FECHA_INICIO
	, FECHA_FIN=@FECHA_FIN
	, NOMBRE_LUGAR=@NOMBRE_LUGAR
	, ID_ESTADO=@ID_ESTADO
	, ID_UBIGEO=@ID_UBIGEO
	, BANNER=@BANNER
	, NUM_PARTICIPANTES=@NUM_PARTICIPANTES
	, DESCRIPCION=@DESCRIPCION
	, ENLACE_WHATSAPP=@ENLACE_WHATSAPP
	, HORA_INICIO=@HORA_INICIO
	, HORA_FIN=@HORA_FIN
	, RED_SOCIAL=@RED_SOCIAL
	, ID_TIPO_EVENTO=@ID_TIPO_EVENTO
	, ID_MODALIDAD=@ID_MODALIDAD
	, USER_UPD=@USER_UPD
	, FECHA_UPD=GETDATE()
	, GENERA_TICKET = @GENERA_TICKET	
	, ENVIA_CORREO = @ENVIA_CORREO	
	, ID_ENCUESTA = @ID_ENCUESTA	
	, ID_CUESTIONARIO = @ID_CUESTIONARIO
	, FORMATO = @FORMATO
 	, REQUIERE_DOCUMENTO = @REQUIERE_DOCUMENTO
	WHERE ID_EVENTO=@ID_EVENTO;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_CARGO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USP_MAE_CARGO_DEL]  
 @ID_CARGO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_CARGO	
	WHERE ID_CARGO=@ID_CARGO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_CARGO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_CARGO_GET]  
@ID_CARGO INT 


AS
BEGIN
	
 	SELECT  	 
 	  ID_CARGO
 	, NOMBRE
 	, NULL FILA
 	, NULL REGISTROS
	FROM dbo.MAE_CARGO
	WHERE ID_CARGO = @ID_CARGO
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_CARGO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_CARGO_INS]
	  @NOMBRE VARCHAR(250)
	, @ID_CARGO INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;
 
		INSERT INTO dbo.MAE_CARGO
		(NOMBRE)
		VALUES(@NOMBRE);

	SET @ID_CARGO = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_CARGO_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_CARGO_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX) 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_CARGO
		 	, NOMBRE
			FROM dbo.MAE_CARGO
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_CARGO_SEL_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_CARGO_SEL_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 1
	
	SELECT @ALL_ROWS = COUNT(ID_CARGO)       
  	FROM dbo.MAE_CARGO;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_CARGO ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_CARGO
 	, NOMBRE
	FROM dbo.MAE_CARGO;
	
END
 
--EXEC USP_MAE_CARGO_SEL_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_CARGO_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_MAE_CARGO_UPD]
	  @NOMBRE VARCHAR(250)
	, @ID_CARGO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	UPDATE dbo.MAE_CARGO
	SET NOMBRE=@NOMBRE
	WHERE ID_CARGO=@ID_CARGO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_CUESTIONARIO_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_CUESTIONARIO_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX) 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_CUESTIONARIO
		 	, NOMBRE
		 	, FECHA_REG
		 	, USER_REG
		 	, FECHA_UPD
		 	, USER_UPD
			FROM dbo.CUESTIONARIO
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_DISTRITO_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_DISTRITO_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	SELECT @ALL_ROWS = COUNT(ID_DISTRITO)       
  	FROM dbo.MAE_DISTRITO;
 
	SELECT
	ROW_NUMBER() OVER(ORDER BY ID_DISTRITO ) AS FILA
 	, @ALL_ROWS AS REGISTROS
 	
	, ID_DISTRITO
	, CODIGO_DEPARTAMENTO
	, DEPARTAMENTO
	, CODIGO_PROVINCIA
	, PROVINCIA
	, CODIGO_DISTRITO
	, DISTRITO
	, CAPITAL
	, CATEGORIA
	, ID_PAIS
	FROM dbo.MAE_DISTRITO;

END
 
--EXEC USP_MAE_PROFESION_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_DISTRITO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_DISTRITO_DEL]
 @ID_DISTRITO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_DISTRITO	
	WHERE ID_DISTRITO=@ID_DISTRITO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_DISTRITO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_DISTRITO_GET]  
@ID_DISTRITO INT 


AS
BEGIN
	
	SELECT  	 
 	  ID_DISTRITO
	, CODIGO_DEPARTAMENTO
	, DEPARTAMENTO
	, CODIGO_PROVINCIA
	, PROVINCIA
	, CODIGO_DISTRITO
	, DISTRITO
	, CAPITAL
	, CATEGORIA
	, ID_PAIS
	
	, NULL FILA
 	, NULL REGISTROS 
 	
	FROM dbo.MAE_DISTRITO
	WHERE ID_DISTRITO = @ID_DISTRITO
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_DISTRITO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_DISTRITO_INS]
	  @CODIGO_DEPARTAMENTO CHAR(2)
	, @DEPARTAMENTO VARCHAR(250)
	, @CODIGO_PROVINCIA CHAR(4)
	, @PROVINCIA VARCHAR(250)
	, @CODIGO_DISTRITO CHAR(6)
	, @DISTRITO VARCHAR(250)
	, @CAPITAL VARCHAR(250)
	, @CATEGORIA CHAR(1)
	, @ID_PAIS INT
	, @ID_DISTRITO INT OUTPUT 
AS
BEGIN	
	
	SET NOCOUNT ON;
 
	INSERT INTO dbo.MAE_DISTRITO
	(CODIGO_DEPARTAMENTO, DEPARTAMENTO, CODIGO_PROVINCIA, PROVINCIA, CODIGO_DISTRITO, DISTRITO, CAPITAL, CATEGORIA, ID_PAIS)
	VALUES(@CODIGO_DEPARTAMENTO, @DEPARTAMENTO, @CODIGO_PROVINCIA, @PROVINCIA, @CODIGO_DISTRITO, @DISTRITO, @CAPITAL, @CATEGORIA, @ID_PAIS);

	SET @ID_DISTRITO = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_DISTRITO_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_DISTRITO_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX) 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_DISTRITO
			, CODIGO_DEPARTAMENTO
			, DEPARTAMENTO
			, CODIGO_PROVINCIA
			, PROVINCIA
			, CODIGO_DISTRITO
			, DISTRITO
			, CAPITAL
			, CATEGORIA
			, ID_PAIS
			FROM dbo.MAE_DISTRITO
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_DISTRITO_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_DISTRITO_UPD]
	  @CODIGO_DEPARTAMENTO CHAR(2)
	, @DEPARTAMENTO VARCHAR(250)
	, @CODIGO_PROVINCIA CHAR(4)
	, @PROVINCIA VARCHAR(250)
	, @CODIGO_DISTRITO CHAR(6)
	, @DISTRITO VARCHAR(250)
	, @CAPITAL VARCHAR(250)
	, @CATEGORIA CHAR(1)
	, @ID_PAIS INT
	, @ID_DISTRITO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	UPDATE dbo.MAE_DISTRITO
	SET 
		  CODIGO_DEPARTAMENTO=@CODIGO_DEPARTAMENTO
		, DEPARTAMENTO=@DEPARTAMENTO
		, CODIGO_PROVINCIA=@CODIGO_PROVINCIA
		, PROVINCIA=@PROVINCIA
		, CODIGO_DISTRITO=@CODIGO_DISTRITO
		, DISTRITO=@DISTRITO
		, CAPITAL=@CAPITAL
		, CATEGORIA=@CATEGORIA
		, ID_PAIS = @ID_PAIS
	WHERE ID_DISTRITO=@ID_DISTRITO; 

END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_ENCUESTA_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_ENCUESTA_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX) 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_ENCUESTA
		 	, NOMBRE
		 	, FECHA_REG
		 	, USER_REG
		 	, FECHA_UPD
		 	, USER_UPD
			FROM dbo.ENCUESTA
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_ENTIDAD_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_MAE_ENTIDAD_DEL]  
 @ID_ENTIDAD INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_ENTIDAD	
	WHERE ID_ENTIDAD=@ID_ENTIDAD;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_ENTIDAD_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_ENTIDAD_GET]  
@ID_ENTIDAD INT 


AS
BEGIN
	
 	SELECT  	 
 	  ID_ENTIDAD
 	, NOMBRE
 	, NULL FILA
 	, NULL REGISTROS
	FROM dbo.MAE_ENTIDAD
	WHERE ID_ENTIDAD = @ID_ENTIDAD
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_ENTIDAD_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_ENTIDAD_INS]
	  @NOMBRE VARCHAR(250)
	, @ID_ENTIDAD INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;
 
		INSERT INTO dbo.MAE_ENTIDAD
		(NOMBRE)
		VALUES(@NOMBRE);

	SET @ID_ENTIDAD = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_ENTIDAD_SEL_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_ENTIDAD_SEL_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	SELECT @ALL_ROWS = COUNT(ID_CARGO)       
  	FROM dbo.MAE_CARGO;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_ENTIDAD ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_ENTIDAD
 	, NOMBRE
	FROM dbo.MAE_ENTIDAD;
	
END
 
--EXEC USP_MAE_CARGO_SEL_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_ENTIDAD_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_MAE_ENTIDAD_UPD]
	  @NOMBRE VARCHAR(250)
	, @ID_ENTIDAD INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	UPDATE dbo.MAE_ENTIDAD
	SET NOMBRE=@NOMBRE
	WHERE ID_ENTIDAD=@ID_ENTIDAD;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_ESTADO_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_ESTADO_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	SELECT @ALL_ROWS = COUNT(ID_ESTADO)       
  	FROM dbo.MAE_ESTADO;
 
	SELECT
	ROW_NUMBER() OVER(ORDER BY ID_ESTADO ) AS FILA
 	, @ALL_ROWS AS REGISTROS
 	
	, ID_ESTADO
	, NOMBRE
	FROM dbo.MAE_ESTADO;

END
 
--EXEC USP_MAE_DISTRITO_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_ESTADO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_ESTADO_GET]  
@ID_ESTADO INT 


AS
BEGIN
	
	SELECT  	 
 	  ID_ESTADO
	, NOMBRE
	 
	, NULL FILA
 	, NULL REGISTROS 
 	
	FROM dbo.MAE_ESTADO
	WHERE ID_ESTADO = @ID_ESTADO
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_MODALIDAD_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_MODALIDAD_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	SELECT @ALL_ROWS = COUNT(ID_MODALIDAD)       
  	FROM dbo.MAE_MODALIDAD;
 
	SELECT
	ROW_NUMBER() OVER(ORDER BY ID_MODALIDAD ) AS FILA
 	, @ALL_ROWS AS REGISTROS
 	
	, ID_MODALIDAD
	, NOMBRE
	FROM dbo.MAE_MODALIDAD;

END
 
--EXEC USP_MAE_TIPO_EVENTO_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_MODALIDAD_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_MODALIDAD_DEL]  
 @ID_MODALIDAD INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_MODALIDAD	
	WHERE ID_MODALIDAD=@ID_MODALIDAD;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_MODALIDAD_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_MODALIDAD_GET]  
@ID_MODALIDAD INT 


AS
BEGIN
	
	SELECT  	 
 	  ID_MODALIDAD
	, NOMBRE
	 
	, NULL FILA
 	, NULL REGISTROS 
 	
	FROM dbo.MAE_MODALIDAD
	WHERE ID_MODALIDAD = @ID_MODALIDAD
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_MODALIDAD_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_MODALIDAD_INS]
	  @NOMBRE VARCHAR(250)
	, @ID_MODALIDAD INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;
 
		INSERT INTO dbo.MAE_MODALIDAD
		(NOMBRE)
		VALUES(@NOMBRE);

	SET @ID_MODALIDAD = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_MODALIDAD_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USP_MAE_MODALIDAD_UPD]
	  @NOMBRE VARCHAR(250)
	, @ID_MODALIDAD INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	UPDATE dbo.MAE_MODALIDAD
	SET NOMBRE=@NOMBRE
	WHERE ID_MODALIDAD=@ID_MODALIDAD;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PAIS_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PAIS_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 1
	
	SELECT @ALL_ROWS = COUNT(ID_PAIS)       
  	FROM dbo.MAE_PAIS;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_PAIS ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_PAIS
 	, NOMBRE
 	, ESLOCAL
 	, COD_PAIS
	FROM dbo.MAE_PAIS;
	
END
 
--EXEC USP_MAE_PROFESION_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PAIS_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PAIS_DEL]  
 @ID_PAIS INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_PAIS	
	WHERE ID_PAIS=@ID_PAIS;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PAIS_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PAIS_GET]  
@ID_PAIS INT 


AS
BEGIN
	
	SELECT  	 
 	  ID_PAIS
 	, NOMBRE
 	, ESLOCAL
 	, COD_PAIS
 	, NULL FILA
 	, NULL REGISTROS 	
	FROM dbo.MAE_PAIS
	WHERE ID_PAIS = @ID_PAIS
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PAIS_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PAIS_INS]
	  @NOMBRE VARCHAR(250)
	 	, @ESLOCAL CHAR(1)
		, @COD_PAIS VARCHAR(50)
		, @ID_PAIS INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;

		IF @ESLOCAL = '1'
		BEGIN
			UPDATE dbo.MAE_PAIS
			SET ESLOCAL = '0'
		END

 
		INSERT INTO dbo.MAE_PAIS
		(NOMBRE, ESLOCAL, COD_PAIS)
		VALUES(@NOMBRE, @ESLOCAL, @COD_PAIS);

	SET @ID_PAIS = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PAIS_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PAIS_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX)
 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_PAIS
			, NOMBRE
			, ESLOCAL
			, COD_PAIS
			FROM dbo.MAE_PAIS
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PAIS_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PAIS_UPD]
	  @NOMBRE VARCHAR(250)
	 	, @ESLOCAL CHAR(1)
		, @COD_PAIS VARCHAR(50)
		, @ID_PAIS INT

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	IF @ESLOCAL = '1'
	BEGIN
		UPDATE dbo.MAE_PAIS
		SET ESLOCAL = '0'
	END
	

	UPDATE dbo.MAE_PAIS
	SET 
	NOMBRE = @NOMBRE
	, ESLOCAL = @ESLOCAL
	, COD_PAIS = @COD_PAIS
	WHERE ID_PAIS=@ID_PAIS;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PERSONA_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PERSONA_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX)
 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_PERSONA
		  	, COD_PERSONA
		  	, ID_TIPO_DOCUMENTO
		  	, NUM_DOCUMENTO
		  	, NOMBRES
		  	, APELLIDO_PATERNO
		  	, APELLIDO_MATERNO
		  	, SEXO
		  	, ID_PAIS_NACIMIENTO
		  	, FECHA_NACIMIENTO
		  	, FECHA_REG
		  	, FECHA_UPD
		  	, EMAIL
		  	, CELULAR
		  	, ID_PROFESION
			, VALIDADO_PIDE
			FROM dbo.PERSONA
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PROFESION_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PROFESION_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 1
	
	SELECT @ALL_ROWS = COUNT(ID_PROFESION)       
  	FROM dbo.MAE_PROFESION;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_PROFESION ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_PROFESION
 	, NOMBRE
	FROM dbo.MAE_PROFESION;
	
END
 
--EXEC USP_MAE_PROFESION_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PROFESION_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_MAE_PROFESION_DEL]  
 @ID_PROFESION INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_PROFESION	
	WHERE ID_PROFESION=@ID_PROFESION;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PROFESION_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PROFESION_GET]  
@ID_PROFESION INT 


AS
BEGIN
	
 	SELECT  	 
 	  ID_PROFESION
 	, NOMBRE
 	, NULL FILA
 	, NULL REGISTROS
	FROM dbo.MAE_PROFESION
	WHERE ID_PROFESION = @ID_PROFESION
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PROFESION_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PROFESION_INS]
	  @NOMBRE VARCHAR(250)
	, @ID_PROFESION INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;
 
		INSERT INTO dbo.MAE_PROFESION
		(NOMBRE)
		VALUES(@NOMBRE);

	SET @ID_PROFESION = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PROFESION_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_PROFESION_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX) 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_PROFESION
		 	, NOMBRE
			FROM dbo.MAE_PROFESION
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_PROFESION_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_MAE_PROFESION_UPD]
	  @NOMBRE VARCHAR(250)
	, @ID_PROFESION INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	UPDATE dbo.MAE_PROFESION
	SET NOMBRE=@NOMBRE
	WHERE ID_PROFESION=@ID_PROFESION;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_SECCION_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_SECCION_DEL]  
 @ID_SECCION INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_SECCION	
	WHERE ID_SECCION=@ID_SECCION;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_SECCION_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_SECCION_GET]  
@ID_SECCION INT 


AS
BEGIN
	
 	SELECT  	 
 	  ID_SECCION
 	, NOMBRE
 	, NULL FILA
 	, NULL REGISTROS
	FROM dbo.MAE_SECCION
	WHERE ID_SECCION = @ID_SECCION
	
END



GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_SECCION_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_SECCION_INS]
	  @NOMBRE VARCHAR(250)
	, @ID_SECCION INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;
 
		INSERT INTO dbo.MAE_SECCION
		(NOMBRE)
		VALUES(@NOMBRE);

	SET @ID_SECCION = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_SECCION_SEL_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_SECCION_SEL_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	SELECT @ALL_ROWS = COUNT(ID_SECCION)       
  	FROM dbo.MAE_SECCION;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_SECCION ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_SECCION
 	, NOMBRE
	FROM dbo.MAE_SECCION;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_SECCION_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_MAE_SECCION_UPD]
	  @NOMBRE VARCHAR(250)
	, @ID_SECCION INT  

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	UPDATE dbo.MAE_SECCION
	SET NOMBRE=@NOMBRE
	WHERE ID_SECCION=@ID_SECCION;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	SELECT @ALL_ROWS = COUNT(ID_TIPO_DOCUMENTO)       
  	FROM dbo.MAE_TIPO_DOCUMENTO;
 
	SELECT
	ROW_NUMBER() OVER(ORDER BY ID_TIPO_DOCUMENTO ) AS FILA
 	, @ALL_ROWS AS REGISTROS
 	
	, ID_TIPO_DOCUMENTO
	, NOMBRE
	FROM dbo.MAE_TIPO_DOCUMENTO;

END
 
--EXEC USP_MAE_DISTRITO_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_DEL]  
 @ID_TIPO_DOCUMENTO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_TIPO_DOCUMENTO	
	WHERE ID_TIPO_DOCUMENTO=@ID_TIPO_DOCUMENTO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_GET]  
@ID_TIPO_DOCUMENTO INT 


AS
BEGIN
	
	SELECT  	 
 	  ID_TIPO_DOCUMENTO
	, NOMBRE
	 
	, NULL FILA
 	, NULL REGISTROS 
 	
	FROM dbo.MAE_TIPO_DOCUMENTO
	WHERE ID_TIPO_DOCUMENTO = @ID_TIPO_DOCUMENTO
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_INS]
	  @NOMBRE VARCHAR(250)
	, @ID_TIPO_DOCUMENTO INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;
 
		INSERT INTO dbo.MAE_TIPO_DOCUMENTO
		(NOMBRE)
		VALUES(@NOMBRE);

	SET @ID_TIPO_DOCUMENTO = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_DEL]  
 @ID_TIPO_DOCUMENTO_REQUERIDO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_TIPO_DOCUMENTO_REQUERIDO	
	WHERE ID_TIPO_DOCUMENTO_REQUERIDO=@ID_TIPO_DOCUMENTO_REQUERIDO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_GET]  
@ID_TIPO_DOCUMENTO_REQUERIDO INT 


AS
BEGIN
	
 
	SELECT 
	ID_TIPO_DOCUMENTO_REQUERIDO
	, NOMBRE
	, NULL FILA
 	, NULL REGISTROS
	FROM dbo.MAE_TIPO_DOCUMENTO_REQUERIDO	
	WHERE ID_TIPO_DOCUMENTO_REQUERIDO = @ID_TIPO_DOCUMENTO_REQUERIDO

END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_INS]
	  @NOMBRE VARCHAR(250)
	, @ID_TIPO_DOCUMENTO_REQUERIDO INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;
 
		INSERT INTO dbo.MAE_TIPO_DOCUMENTO_REQUERIDO
		(NOMBRE)
		VALUES(@NOMBRE);

	SET @ID_TIPO_DOCUMENTO_REQUERIDO = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX) 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_TIPO_DOCUMENTO_REQUERIDO
		 	, NOMBRE
			FROM dbo.MAE_TIPO_DOCUMENTO_REQUERIDO
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_SEL_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_SEL_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 1
	
	SELECT @ALL_ROWS = COUNT(ID_TIPO_DOCUMENTO_REQUERIDO)       
  	FROM dbo.MAE_TIPO_DOCUMENTO_REQUERIDO;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_TIPO_DOCUMENTO_REQUERIDO ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_TIPO_DOCUMENTO_REQUERIDO
 	, NOMBRE
	FROM dbo.MAE_TIPO_DOCUMENTO_REQUERIDO;
	
END
 
--EXEC USP_MAE_CARGO_SEL_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_REQUERIDO_UPD]
	  @NOMBRE VARCHAR(250)
	, @ID_TIPO_DOCUMENTO_REQUERIDO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	UPDATE dbo.MAE_TIPO_DOCUMENTO_REQUERIDO
	SET NOMBRE=@NOMBRE
	WHERE ID_TIPO_DOCUMENTO_REQUERIDO=@ID_TIPO_DOCUMENTO_REQUERIDO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_DOCUMENTO_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_DOCUMENTO_UPD]
	  @NOMBRE VARCHAR(250)
	, @ID_TIPO_DOCUMENTO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	UPDATE dbo.MAE_TIPO_DOCUMENTO
	SET NOMBRE=@NOMBRE
	WHERE ID_TIPO_DOCUMENTO=@ID_TIPO_DOCUMENTO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_ENCUESTA_RESPUESTA_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_ENCUESTA_RESPUESTA_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS INT = 0
	
	SELECT @ALL_ROWS = COUNT(ID_TIPO_ENCUESTA_PREGUNTA)       
  	FROM dbo.MAE_TIPO_ENCUESTA_RESPUESTA;
 
	SELECT
	ROW_NUMBER() OVER(ORDER BY ID_TIPO_ENCUESTA_PREGUNTA ) AS FILA
 	 , @ALL_ROWS AS REGISTROS
 	
	 , ID_TIPO_ENCUESTA_PREGUNTA
	 , NOMBRE
	  
	FROM dbo.MAE_TIPO_ENCUESTA_RESPUESTA;

END
 
--EXEC USP_MAE_EVENTO_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_ENCUESTA_RESPUESTA_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_ENCUESTA_RESPUESTA_GET]  
@ID_TIPO_ENCUESTA_PREGUNTA INT 


AS
BEGIN
	
	SELECT  	 
 	  ID_TIPO_ENCUESTA_PREGUNTA
 	, NOMBRE
  
 	, NULL FILA
 	, NULL REGISTROS 	
	FROM dbo.MAE_TIPO_ENCUESTA_RESPUESTA
	WHERE ID_TIPO_ENCUESTA_PREGUNTA = @ID_TIPO_ENCUESTA_PREGUNTA
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_EVENTO_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_EVENTO_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 0
	
	SELECT @ALL_ROWS = COUNT(ID_TIPO_EVENTO)       
  	FROM dbo.MAE_TIPO_EVENTO;
 
	SELECT
	ROW_NUMBER() OVER(ORDER BY ID_TIPO_EVENTO ) AS FILA
 	, @ALL_ROWS AS REGISTROS
 	
	, ID_TIPO_EVENTO
	, NOMBRE
	FROM dbo.MAE_TIPO_EVENTO;

END
 
--EXEC MAE_TIPO_EVENTO
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_EVENTO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_EVENTO_DEL]  
 @ID_TIPO_EVENTO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_TIPO_EVENTO	
	WHERE ID_TIPO_EVENTO=@ID_TIPO_EVENTO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_EVENTO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_EVENTO_GET]  
@ID_TIPO_EVENTO INT 


AS
BEGIN
	
	SELECT  	 
 	  ID_TIPO_EVENTO
	, NOMBRE
	 
	, NULL FILA
 	, NULL REGISTROS 
 	
	FROM dbo.MAE_TIPO_EVENTO
	WHERE ID_TIPO_EVENTO = @ID_TIPO_EVENTO
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_EVENTO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_TIPO_EVENTO_INS]
	  @NOMBRE VARCHAR(250)
	, @ID_TIPO_EVENTO INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;
 
		INSERT INTO dbo.MAE_TIPO_EVENTO
		(NOMBRE)
		VALUES(@NOMBRE);

	SET @ID_TIPO_EVENTO = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_TIPO_EVENTO_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_MAE_TIPO_EVENTO_UPD]
	  @NOMBRE VARCHAR(250)
	, @ID_TIPO_EVENTO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	UPDATE dbo.MAE_TIPO_EVENTO
	SET NOMBRE=@NOMBRE
	WHERE ID_TIPO_EVENTO=@ID_TIPO_EVENTO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_USUARIO_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_USUARIO_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 1
	
	SELECT @ALL_ROWS = COUNT(ID_USUARIO)       
  	FROM dbo.MAE_USUARIO;
  
 	SELECT 
 	ROW_NUMBER() OVER(ORDER BY ID_USUARIO ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_USUARIO
 	, USUARIO
 	, NULL AS CLAVE
 	, ESTADO
	FROM dbo.MAE_USUARIO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_USUARIO_BUSQUEDA]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_USUARIO_BUSQUEDA]
@USUARIO VARCHAR(100),
@CLAVE VARCHAR(100)
AS
BEGIN
	
 	SELECT  	 
 	  ID_USUARIO
 	, USUARIO
 	, NULL CLAVE
 	, ESTADO
	FROM dbo.MAE_USUARIO
	WHERE USUARIO = @USUARIO AND CLAVE = @CLAVE
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_USUARIO_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_USUARIO_DEL]  
 @ID_USUARIO INT 

AS
BEGIN
	
	SET NOCOUNT ON;
	 
	DELETE dbo.MAE_USUARIO	
	WHERE ID_USUARIO=@ID_USUARIO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_USUARIO_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_USUARIO_GET]  
@ID_USUARIO INT 


AS
BEGIN
	
	SELECT  	 
 	  ID_USUARIO
 	, USUARIO
 	, NULL AS CLAVE
 	, ESTADO
 	, NULL FILA
 	, NULL REGISTROS 	
	FROM dbo.MAE_USUARIO 
	WHERE ID_USUARIO = @ID_USUARIO
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_USUARIO_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_USUARIO_INS]
	@USUARIO VARCHAR(100)
	, @CLAVE VARCHAR(100)
	, @ESTADO INT
	, @ID_USUARIO INT OUTPUT

AS
BEGIN	
	
	SET NOCOUNT ON;

		INSERT INTO dbo.MAE_USUARIO
		(USUARIO, CLAVE, ESTADO)
		VALUES(@USUARIO, @CLAVE, @ESTADO);

	SET @ID_USUARIO = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_USUARIO_PAGINADOR]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_USUARIO_PAGINADOR]
	  @ORDER NVARCHAR(MAX)
	, @WHERE NVARCHAR(MAX)
	, @LIMIT NVARCHAR(MAX)
	
AS

BEGIN
SET NOCOUNT ON

DECLARE @vQUERY NVARCHAR(MAX)
 	
 
SET @vQUERY='
	SELECT * FROM (
		SELECT MAX(FILA) OVER() AS REGISTROS, * FROM (			
			SELECT 
			ROW_NUMBER() OVER(ORDER BY ' + @ORDER + ' ) AS FILA
			, ID_USUARIO
			, USUARIO
			, NULL  AS CLAVE
			, ESTADO
			FROM dbo.MAE_USUARIO
			WHERE 0=0
			 ' + @WHERE  + '
			) TB_TEMP 
	) TB_DATA WHERE '  + @LIMIT
	
	EXECUTE SP_EXECUTESQL @vQUERY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MAE_USUARIO_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MAE_USUARIO_UPD]
	  @USUARIO VARCHAR(100)
	 	, @CLAVE VARCHAR(100)
		, @ESTADO INT
		, @ID_USUARIO INT

AS
BEGIN
	
	SET NOCOUNT ON;
	 

	UPDATE dbo.MAE_USUARIO 
	SET 
	USUARIO = @USUARIO
	, CLAVE = CASE 
                   WHEN @CLAVE IS NOT NULL AND @CLAVE <> '' THEN @CLAVE 
                   ELSE CLAVE 
                END
	, ESTADO = @ESTADO
	WHERE ID_USUARIO=@ID_USUARIO;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_ALL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_ALL]  

AS
BEGIN
	DECLARE @ALL_ROWS bigint = 1
	
	SELECT @ALL_ROWS = COUNT(1)       
  	FROM dbo.PERSONA;
  
  	SELECT
  	ROW_NUMBER() OVER(ORDER BY ID_PERSONA ) AS FILA
 	, @ALL_ROWS AS REGISTROS 	
 	, ID_PERSONA
  	, COD_PERSONA
  	, ID_TIPO_DOCUMENTO
  	, NUM_DOCUMENTO
  	, NOMBRES
  	, APELLIDO_PATERNO
  	, APELLIDO_MATERNO
  	, SEXO
  	, ID_PAIS_NACIMIENTO
  	, FECHA_NACIMIENTO
  	, FECHA_REG
  	, FECHA_UPD
  	, EMAIL
  	, CELULAR
  	, ID_PROFESION
  	, VALIDADO_PIDE
	FROM dbo.PERSONA;
 
END
 
--EXEC USP_MAE_PROFESION_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_DATA_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_DATA_DEL]
	  @ID_PERSONA INT
	

AS
BEGIN
	 
	DELETE FROM dbo.PERSONA_DATA	
	WHERE ID_PERSONA=@ID_PERSONA;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_DATA_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_DATA_INS]
	
	  @ID_PERSONA INT 
	, @ID_PAIS_LABORA INT
	, @ID_ENTIDAD INT 
	, @NOMBRE_ENTIDAD_OTRA VARCHAR(250)
	, @AREA_LABORA VARCHAR(250)
	, @ID_CARGO INT 
	, @NOMBRE_CARGO_OTRA VARCHAR(250)
	, @ID_DISTRITO INT 
	, @ID_PERSONA_DATA INT OUTPUT
 

AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO BD_ugerdes_capacitagrd.dbo.PERSONA_DATA
	(ID_PERSONA, ID_PAIS_LABORA, ID_ENTIDAD, NOMBRE_ENTIDAD_OTRA, AREA_LABORA, ID_CARGO, NOMBRE_CARGO_OTRA, ID_DISTRITO, FECHA_REG)
	VALUES(@ID_PERSONA, @ID_PAIS_LABORA, @ID_ENTIDAD, @NOMBRE_ENTIDAD_OTRA, @AREA_LABORA, @ID_CARGO, @NOMBRE_CARGO_OTRA, @ID_DISTRITO, getdate());

	SET @ID_PERSONA_DATA = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_DATA_SEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_DATA_SEL]	
	  @ID_PERSONA_DATA INT 

AS
BEGIN

	SELECT ID_PERSONA_DATA, ID_PERSONA, ID_PAIS_LABORA, ID_ENTIDAD, NOMBRE_ENTIDAD_OTRA, AREA_LABORA, ID_CARGO, NOMBRE_CARGO_OTRA, ID_DISTRITO, FECHA_REG
	FROM dbo.PERSONA_DATA
	WHERE ID_PERSONA_DATA = @ID_PERSONA_DATA;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_DATA_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_PERSONA_DATA_UPD]
	  @ID_PERSONA INT
	, @ID_PAIS_LABORA INT
	, @EMAIL VARCHAR(250)
	, @CELULAR VARCHAR(50)
	, @ID_PROFESION INT
	, @NOMBRE_PROFESION_OTRA VARCHAR(250)
	, @ID_ENTIDAD INT
	, @NOMBRE_ENTIDAD_OTRA VARCHAR(250)
	, @AREA_LABORA VARCHAR(250)
	, @ID_CARGO INT
	, @NOMBRE_CARGO_OTRA VARCHAR(250)
	, @ID_DISTRITO INT
	, @ID_PERSONA_DATA INT 

AS
BEGIN
	 
	UPDATE dbo.PERSONA_DATA
	SET 	
		 ID_PAIS_LABORA=@ID_PAIS_LABORA
--		, EMAIL=@EMAIL
--		 CELULAR=@CELULAR
--		, ID_PROFESION=@ID_PROFESION
--
--		, NOMBRE_PROFESION_OTRA=@NOMBRE_PROFESION_OTRA
--		, ID_ENTIDAD=@ID_ENTIDAD
--		, NOMBRE_ENTIDAD_OTRA=@NOMBRE_ENTIDAD_OTRA
--		, AREA_LABORA=@AREA_LABORA
		, ID_CARGO=@ID_CARGO
		, NOMBRE_CARGO_OTRA=@NOMBRE_CARGO_OTRA
		, ID_DISTRITO=@ID_DISTRITO
	WHERE ID_PERSONA_DATA=@ID_PERSONA_DATA;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_DEL]  
 @ID_PERSONA INT 

AS
BEGIN
	 
	DELETE dbo.PERSONA	
	WHERE ID_PERSONA=@ID_PERSONA;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_EXISTE]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_EXISTE]
@ID_TIPO_DOCUMENTO INT
, @NUM_DOCUMENTO VARCHAR(50)
AS
BEGIN
  
  	SELECT
  	  NULL AS FILA
 	, NULL AS REGISTROS 	
 	, ID_PERSONA
  	, COD_PERSONA
  	, ID_TIPO_DOCUMENTO
  	, NUM_DOCUMENTO
  	, NOMBRES
  	, APELLIDO_PATERNO
  	, APELLIDO_MATERNO
  	, SEXO
  	, ID_PAIS_NACIMIENTO
  	, FECHA_NACIMIENTO
  	, FECHA_REG
  	, FECHA_UPD
  	, EMAIL
  	, CELULAR
  	, ID_PROFESION
  	, VALIDADO_PIDE
	FROM dbo.PERSONA
	WHERE 
	ID_TIPO_DOCUMENTO = @ID_TIPO_DOCUMENTO 
	AND NUM_DOCUMENTO = @NUM_DOCUMENTO
 
END
 
--EXEC USP_PERSONA_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_GET]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_GET]
@ID_PERSONA INT
AS
BEGIN
  
  	SELECT
  	  NULL AS FILA
 	, NULL AS REGISTROS 	
 	, ID_PERSONA
  	, COD_PERSONA
  	, ID_TIPO_DOCUMENTO
  	, NUM_DOCUMENTO
  	, NOMBRES
  	, APELLIDO_PATERNO
  	, APELLIDO_MATERNO
  	, SEXO
  	, ID_PAIS_NACIMIENTO
  	, FECHA_NACIMIENTO
  	, FECHA_REG
  	, FECHA_UPD
  	, EMAIL
  	, CELULAR
  	, ID_PROFESION
  	, VALIDADO_PIDE
	FROM dbo.PERSONA
	WHERE ID_PERSONA = @ID_PERSONA;
 
END
 
--EXEC USP_PERSONA_ALL
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_INS]
	  @ID_TIPO_DOCUMENTO INT
	, @NUM_DOCUMENTO VARCHAR(50)
	, @NOMBRES VARCHAR(250)
	, @APELLIDO_PATERNO VARCHAR(250)
	, @APELLIDO_MATERNO VARCHAR(250)
	, @SEXO CHAR(1)
	, @ID_PAIS_NACIMIENTO INT
	, @FECHA_NACIMIENTO DATE
	, @EMAIL VARCHAR(250)
	, @CELULAR VARCHAR(50)
	, @ID_PROFESION INT    
	, @VALIDADO_PIDE CHAR(1)
	, @ID_PERSONA INT OUTPUT

AS
BEGIN
	DECLARE @COD_PERSONA VARCHAR(250) =  NEWID();
	
	SET NOCOUNT ON; 

	INSERT INTO dbo.PERSONA
	(COD_PERSONA, ID_TIPO_DOCUMENTO, NUM_DOCUMENTO, NOMBRES, APELLIDO_PATERNO, APELLIDO_MATERNO, SEXO, ID_PAIS_NACIMIENTO, FECHA_NACIMIENTO, EMAIL, CELULAR, ID_PROFESION, VALIDADO_PIDE)
	VALUES(@COD_PERSONA, @ID_TIPO_DOCUMENTO, @NUM_DOCUMENTO, @NOMBRES, @APELLIDO_PATERNO, @APELLIDO_MATERNO, @SEXO, @ID_PAIS_NACIMIENTO, @FECHA_NACIMIENTO, @EMAIL, @CELULAR, @ID_PROFESION, @VALIDADO_PIDE);

	SET @ID_PERSONA = @@IDENTITY
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERSONA_UPD]
	  @ID_TIPO_DOCUMENTO INT
	, @NUM_DOCUMENTO VARCHAR(50)
	, @NOMBRES VARCHAR(250)
	, @APELLIDO_PATERNO VARCHAR(250)
	, @APELLIDO_MATERNO VARCHAR(250)
	, @SEXO CHAR(1)
	, @ID_PAIS_NACIMIENTO INT
	, @FECHA_NACIMIENTO DATE
	, @EMAIL VARCHAR(250)
	, @CELULAR VARCHAR(50)
	, @ID_PROFESION INT    
	, @VALIDADO_PIDE CHAR(1)
	, @ID_PERSONA INT  

AS
BEGIN
	 
	UPDATE dbo.PERSONA
	SET 
		  ID_TIPO_DOCUMENTO=@ID_TIPO_DOCUMENTO
		, NUM_DOCUMENTO=@NUM_DOCUMENTO
		, NOMBRES=@NOMBRES
		, APELLIDO_PATERNO=@APELLIDO_PATERNO
		, APELLIDO_MATERNO=@APELLIDO_MATERNO
		, SEXO=@SEXO
		, ID_PAIS_NACIMIENTO=@ID_PAIS_NACIMIENTO
		, FECHA_NACIMIENTO=@FECHA_NACIMIENTO
		, EMAIL=@EMAIL
		, CELULAR=@CELULAR
		, ID_PROFESION=@ID_PROFESION
		, VALIDADO_PIDE = @VALIDADO_PIDE
	, FECHA_UPD=getdate()
	WHERE ID_PERSONA=@ID_PERSONA;
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TIPO_ENCUESTA_RESPUESTA_DEL]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_TIPO_ENCUESTA_RESPUESTA_DEL]
	@ID_TIPO_ENCUESTA_PREGUNTA INT 

AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	DELETE FROM dbo.MAE_TIPO_ENCUESTA_RESPUESTA
	WHERE ID_TIPO_ENCUESTA_PREGUNTA=@ID_TIPO_ENCUESTA_PREGUNTA;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_TIPO_ENCUESTA_RESPUESTA_INS]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_TIPO_ENCUESTA_RESPUESTA_INS]
	  @NOMBRE VARCHAR(250)
 	, @ID_TIPO_ENCUESTA_PREGUNTA INT OUTPUT
AS
BEGIN
	 
	SET NOCOUNT ON; 

	INSERT INTO dbo.MAE_TIPO_ENCUESTA_RESPUESTA
	(NOMBRE)
	VALUES(@NOMBRE);

	SET @ID_TIPO_ENCUESTA_PREGUNTA = @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TIPO_ENCUESTA_RESPUESTA_UPD]    Script Date: 27/01/2025 07:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_TIPO_ENCUESTA_RESPUESTA_UPD]
	  @NOMBRE VARCHAR(250)
 	, @ID_TIPO_ENCUESTA_PREGUNTA INT 
AS
BEGIN
	 
	SET NOCOUNT ON; 
		 
	UPDATE dbo.MAE_TIPO_ENCUESTA_RESPUESTA
	SET NOMBRE=@NOMBRE 
	WHERE ID_TIPO_ENCUESTA_PREGUNTA=@ID_TIPO_ENCUESTA_PREGUNTA;
END
GO
