USE [BD_ugerdes_capacitagrd]
GO
/****** Object:  Table [dbo].[asispersona]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asispersona](
	[codpersona] [varchar](max) NOT NULL,
	[nombres] [text] NOT NULL,
	[apepaterno] [text] NOT NULL,
	[apematerno] [text] NULL,
	[tipodoc] [text] NOT NULL,
	[numdoc] [text] NOT NULL,
	[correo] [text] NULL,
	[cod_evento] [text] NULL,
	[celular] [text] NULL,
	[profesion] [text] NULL,
	[entidad] [text] NULL,
	[arealaboral] [text] NULL,
	[cargo] [varchar](1000) NULL,
	[id] [int] NOT NULL,
	[sexo] [text] NULL,
	[nacionalidad] [text] NULL,
	[otranacionalidad] [text] NULL,
	[edad] [text] NULL,
	[paislabora] [text] NULL,
	[paislaboraespecificar] [text] NULL,
	[coddistrito] [text] NULL,
	[tipoentidad] [text] NULL,
	[descripcioncargo] [text] NULL,
	[fechanaci] [date] NULL,
	[fecha_reg] [datetime] NULL,
	[taller] [bigint] NULL,
	[cargox] [varchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIGURACION]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIGURACION](
	[TEXTO_NOTIFICACION] [text] NULL,
	[TEXTO_NOTIFICACION_ADJUNTO] [text] NULL,
	[TEXTO_CERTIFICADO] [text] NULL,
	[TEXTO_DOCUMENTO] [text] NULL,
	[ID_CONFIGURACION] [int] IDENTITY(1,1) NOT NULL,
	[TEXTO_CONSTANCIA] [text] NULL,
 CONSTRAINT [CONFIGURACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CONFIGURACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUESTIONARIO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUESTIONARIO](
	[ID_CUESTIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[FECHA_REG] [datetime] NOT NULL,
	[USER_REG] [varchar](250) NOT NULL,
	[FECHA_UPD] [datetime] NULL,
	[USER_UPD] [varchar](250) NULL,
 CONSTRAINT [PK_CUESTIONARIO] PRIMARY KEY CLUSTERED 
(
	[ID_CUESTIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUESTIONARIO_PREGUNTA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUESTIONARIO_PREGUNTA](
	[ID_CUESTIONARIO_PREGUNTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[ID_CUESTIONARIO_RESPUESTA] [int] NOT NULL,
	[ID_CUESTIONARIO] [int] NOT NULL,
	[PESO] [int] NOT NULL,
 CONSTRAINT [PK_CUESTIONARIO_PREGUNTA] PRIMARY KEY CLUSTERED 
(
	[ID_CUESTIONARIO_PREGUNTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUESTIONARIO_PREGUNTA_RESPUESTA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUESTIONARIO_PREGUNTA_RESPUESTA](
	[ID_PREGUNTA_RESPUESTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[ID_CUESTIONARIO_PREGUNTA] [int] NOT NULL,
 CONSTRAINT [PK_CUESTIONARIO_PRE_RES] PRIMARY KEY CLUSTERED 
(
	[ID_PREGUNTA_RESPUESTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENCUESTA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCUESTA](
	[ID_ENCUESTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[FECHA_REG] [datetime] NOT NULL,
	[USER_REG] [varchar](250) NOT NULL,
	[USER_UPD] [varchar](250) NULL,
	[FECHA_UPD] [datetime] NULL,
 CONSTRAINT [PK_ENCUESTA] PRIMARY KEY CLUSTERED 
(
	[ID_ENCUESTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENCUESTA_RESPUESTA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCUESTA_RESPUESTA](
	[ID_RESPUESTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[RESPUESTAS] [varchar](250) NOT NULL,
	[ID_ENCUESTA] [int] NOT NULL,
	[ID_TIPO_ENCUESTA_PREGUNTA] [int] NOT NULL,
 CONSTRAINT [PK_ENCUESTA_RESPUESTA] PRIMARY KEY CLUSTERED 
(
	[ID_RESPUESTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO](
	[ID_EVENTO] [int] IDENTITY(1,1) NOT NULL,
	[COD_EVENTO] [varchar](250) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NOT NULL,
	[NOMBRE_LUGAR] [varchar](250) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[ID_UBIGEO] [int] NULL,
	[BANNER] [varchar](250) NOT NULL,
	[NUM_PARTICIPANTES] [int] NOT NULL,
	[DESCRIPCION] [text] NOT NULL,
	[ENLACE_WHATSAPP] [text] NOT NULL,
	[HORA_INICIO] [time](7) NOT NULL,
	[HORA_FIN] [time](7) NULL,
	[RED_SOCIAL] [text] NOT NULL,
	[ID_TIPO_EVENTO] [int] NOT NULL,
	[ID_MODALIDAD] [int] NOT NULL,
	[USER_REG] [varchar](250) NOT NULL,
	[FECHA_REG] [datetime] NOT NULL,
	[USER_UPD] [varchar](250) NULL,
	[FECHA_UPD] [datetime] NULL,
	[GENERA_TICKET] [char](1) NULL,
	[ENVIA_CORREO] [char](1) NULL,
	[ID_ENCUESTA] [int] NULL,
	[ID_CUESTIONARIO] [int] NULL,
	[FORMATO] [varchar](250) NULL,
	[REQUIERE_DOCUMENTO] [char](1) NULL,
 CONSTRAINT [PK_EVENTO] PRIMARY KEY CLUSTERED 
(
	[ID_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [EVENTO_UNIQUE] UNIQUE NONCLUSTERED 
(
	[COD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO_ASISTENCIA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO_ASISTENCIA](
	[ID_EVENTO] [int] NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[FECHA_REG] [datetime] NOT NULL,
	[ID_MODALIDAD] [int] NOT NULL,
 CONSTRAINT [PK_EVENTO_ASISTENCIA] PRIMARY KEY CLUSTERED 
(
	[ID_EVENTO] ASC,
	[ID_PERSONA] ASC,
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO_DOCUMENTO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO_DOCUMENTO](
	[ID_EVENTO] [int] NOT NULL,
	[ID_TIPO_DOCUMENTO_REQUERIDO] [int] NOT NULL,
 CONSTRAINT [EVENTO_DOCUMENTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_EVENTO] ASC,
	[ID_TIPO_DOCUMENTO_REQUERIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO_FECHA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO_FECHA](
	[ID_EVENTO] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORA_INICIO] [time](7) NULL,
	[HORA_FIN] [time](7) NULL,
	[ES_ENCUESTA] [char](1) NOT NULL,
	[ID_ENCUESTA] [int] NULL,
	[ES_CUESTIONARIO] [char](1) NOT NULL,
	[ID_CUESTIONARIO] [int] NULL,
 CONSTRAINT [PK_EVENTO_FECHA] PRIMARY KEY CLUSTERED 
(
	[ID_EVENTO] ASC,
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO_PARTICIPANTE]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO_PARTICIPANTE](
	[ID_EVENTO] [int] NOT NULL,
	[ID_PERSONA_DATA] [int] NOT NULL,
	[ID_MODALIDAD] [int] NOT NULL,
	[FECHA_REG] [datetime] NOT NULL,
	[LATITUD] [float] NOT NULL,
	[LONGITUD] [float] NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[TICKET] [varchar](250) NULL,
 CONSTRAINT [PK_EVENTO_PARTICIPANTE] PRIMARY KEY CLUSTERED 
(
	[ID_EVENTO] ASC,
	[ID_PERSONA_DATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [EVENTO_PARTICIPANTE_UNIQUE] UNIQUE NONCLUSTERED 
(
	[ID_EVENTO] ASC,
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_CARGO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_CARGO](
	[ID_CARGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
 CONSTRAINT [PK_CARGO] PRIMARY KEY CLUSTERED 
(
	[ID_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_DISTRITO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_DISTRITO](
	[ID_DISTRITO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_DEPARTAMENTO] [char](2) NOT NULL,
	[DEPARTAMENTO] [varchar](250) NOT NULL,
	[CODIGO_PROVINCIA] [char](4) NOT NULL,
	[PROVINCIA] [varchar](250) NOT NULL,
	[CODIGO_DISTRITO] [char](6) NOT NULL,
	[DISTRITO] [varchar](250) NOT NULL,
	[CAPITAL] [varchar](250) NOT NULL,
	[CATEGORIA] [char](1) NOT NULL,
	[ID_PAIS] [int] NOT NULL,
 CONSTRAINT [PK_DISTRITO] PRIMARY KEY CLUSTERED 
(
	[ID_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [MAE_DISTRITO_UNIQUE] UNIQUE NONCLUSTERED 
(
	[CODIGO_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_ENTIDAD]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_ENTIDAD](
	[ID_ENTIDAD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NULL,
 CONSTRAINT [PK_ENTIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_ENTIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_ESTADO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_ESTADO](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_MENU]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_MENU](
	[ID_MENU] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NULL,
 CONSTRAINT [MAE_MENU_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_MODALIDAD]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_MODALIDAD](
	[ID_MODALIDAD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
 CONSTRAINT [PK_MODALIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_MODALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_MODULO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_MODULO](
	[ID_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[ICONO] [varchar](250) NOT NULL,
	[URL] [varchar](250) NOT NULL,
	[ID_MENU] [int] NOT NULL,
 CONSTRAINT [MAE_MODULO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_PAIS]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_PAIS](
	[ID_PAIS] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[ESLOCAL] [char](1) NULL,
	[COD_PAIS] [varchar](50) NULL,
 CONSTRAINT [PK_PAIS] PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_PROFESION]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_PROFESION](
	[ID_PROFESION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
 CONSTRAINT [PK_PROFESION] PRIMARY KEY CLUSTERED 
(
	[ID_PROFESION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_SECCION]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_SECCION](
	[ID_SECCION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
 CONSTRAINT [PK_SECCION] PRIMARY KEY CLUSTERED 
(
	[ID_SECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_TIPO_DOCUMENTO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_TIPO_DOCUMENTO](
	[ID_TIPO_DOCUMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_TIPO_DOCUMENTO_REQUERIDO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_TIPO_DOCUMENTO_REQUERIDO](
	[ID_TIPO_DOCUMENTO_REQUERIDO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NULL,
 CONSTRAINT [MAE_TIPO_DOCUMENTO_REQUERIDO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO_REQUERIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_TIPO_ENCUESTA_RESPUESTA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_TIPO_ENCUESTA_RESPUESTA](
	[ID_TIPO_ENCUESTA_PREGUNTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
 CONSTRAINT [PK_TIPO_ENCUESTA_RESPUESTA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_ENCUESTA_PREGUNTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_TIPO_EVENTO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_TIPO_EVENTO](
	[ID_TIPO_EVENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
 CONSTRAINT [PK_TIPO_EVENTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_USUARIO]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](100) NOT NULL,
	[CLAVE] [varchar](100) NOT NULL,
	[ESTADO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID_PERSONA] [int] IDENTITY(1,1) NOT NULL,
	[COD_PERSONA] [varchar](250) NOT NULL,
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[NUM_DOCUMENTO] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](250) NOT NULL,
	[APELLIDO_PATERNO] [varchar](250) NOT NULL,
	[APELLIDO_MATERNO] [varchar](250) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[ID_PAIS_NACIMIENTO] [int] NOT NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[FECHA_REG] [datetime] NOT NULL,
	[FECHA_UPD] [datetime] NULL,
	[EMAIL] [varchar](250) NULL,
	[CELULAR] [varchar](50) NULL,
	[ID_PROFESION] [int] NULL,
	[VALIDADO_PIDE] [char](1) NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA_DATA]    Script Date: 27/01/2025 07:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA_DATA](
	[ID_PERSONA_DATA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[ID_PAIS_LABORA] [int] NULL,
	[ID_ENTIDAD] [int] NULL,
	[NOMBRE_ENTIDAD_OTRA] [varchar](250) NULL,
	[AREA_LABORA] [varchar](250) NULL,
	[ID_CARGO] [int] NULL,
	[NOMBRE_CARGO_OTRA] [varchar](250) NULL,
	[ID_DISTRITO] [int] NULL,
	[FECHA_REG] [datetime] NOT NULL,
 CONSTRAINT [PK_PERSONA_DATA] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA_DATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUESTIONARIO] ADD  DEFAULT (getdate()) FOR [FECHA_REG]
GO
ALTER TABLE [dbo].[ENCUESTA] ADD  DEFAULT (getdate()) FOR [FECHA_REG]
GO
ALTER TABLE [dbo].[EVENTO] ADD  DEFAULT (getdate()) FOR [FECHA_REG]
GO
ALTER TABLE [dbo].[EVENTO_ASISTENCIA] ADD  DEFAULT (getdate()) FOR [FECHA_REG]
GO
ALTER TABLE [dbo].[EVENTO_PARTICIPANTE] ADD  DEFAULT (getdate()) FOR [FECHA_REG]
GO
ALTER TABLE [dbo].[MAE_USUARIO] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PERSONA] ADD  DEFAULT (getdate()) FOR [FECHA_REG]
GO
ALTER TABLE [dbo].[PERSONA] ADD  DEFAULT ('N') FOR [VALIDADO_PIDE]
GO
ALTER TABLE [dbo].[PERSONA_DATA] ADD  DEFAULT (getdate()) FOR [FECHA_REG]
GO
ALTER TABLE [dbo].[CUESTIONARIO_PREGUNTA]  WITH CHECK ADD  CONSTRAINT [FK_CUESTIONARIO_PREGUNTA_CUESTIONARIO] FOREIGN KEY([ID_CUESTIONARIO])
REFERENCES [dbo].[CUESTIONARIO] ([ID_CUESTIONARIO])
GO
ALTER TABLE [dbo].[CUESTIONARIO_PREGUNTA] CHECK CONSTRAINT [FK_CUESTIONARIO_PREGUNTA_CUESTIONARIO]
GO
ALTER TABLE [dbo].[CUESTIONARIO_PREGUNTA]  WITH CHECK ADD  CONSTRAINT [FK_CUESTIONARIO_PREGUNTA_CUESTIONARIO_PREGUNTA_RESPUESTA] FOREIGN KEY([ID_CUESTIONARIO_RESPUESTA])
REFERENCES [dbo].[CUESTIONARIO_PREGUNTA_RESPUESTA] ([ID_PREGUNTA_RESPUESTA])
GO
ALTER TABLE [dbo].[CUESTIONARIO_PREGUNTA] CHECK CONSTRAINT [FK_CUESTIONARIO_PREGUNTA_CUESTIONARIO_PREGUNTA_RESPUESTA]
GO
ALTER TABLE [dbo].[CUESTIONARIO_PREGUNTA_RESPUESTA]  WITH CHECK ADD  CONSTRAINT [FK_CUESTIONARIO_PRE_RES_CUE_PREGUNTA] FOREIGN KEY([ID_CUESTIONARIO_PREGUNTA])
REFERENCES [dbo].[CUESTIONARIO_PREGUNTA] ([ID_CUESTIONARIO_PREGUNTA])
GO
ALTER TABLE [dbo].[CUESTIONARIO_PREGUNTA_RESPUESTA] CHECK CONSTRAINT [FK_CUESTIONARIO_PRE_RES_CUE_PREGUNTA]
GO
ALTER TABLE [dbo].[ENCUESTA_RESPUESTA]  WITH CHECK ADD  CONSTRAINT [FK_ENCUESTA_RESPUESTA_ENCUESTA] FOREIGN KEY([ID_ENCUESTA])
REFERENCES [dbo].[ENCUESTA] ([ID_ENCUESTA])
GO
ALTER TABLE [dbo].[ENCUESTA_RESPUESTA] CHECK CONSTRAINT [FK_ENCUESTA_RESPUESTA_ENCUESTA]
GO
ALTER TABLE [dbo].[ENCUESTA_RESPUESTA]  WITH CHECK ADD  CONSTRAINT [FK_ENCUESTA_RESPUESTA_TIPO] FOREIGN KEY([ID_TIPO_ENCUESTA_PREGUNTA])
REFERENCES [dbo].[MAE_TIPO_ENCUESTA_RESPUESTA] ([ID_TIPO_ENCUESTA_PREGUNTA])
GO
ALTER TABLE [dbo].[ENCUESTA_RESPUESTA] CHECK CONSTRAINT [FK_ENCUESTA_RESPUESTA_TIPO]
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_MAE_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[MAE_ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[EVENTO] CHECK CONSTRAINT [FK_EVENTO_MAE_ESTADO]
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_MODALIDAD] FOREIGN KEY([ID_MODALIDAD])
REFERENCES [dbo].[MAE_MODALIDAD] ([ID_MODALIDAD])
GO
ALTER TABLE [dbo].[EVENTO] CHECK CONSTRAINT [FK_EVENTO_MODALIDAD]
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_TIPO_EVENTO] FOREIGN KEY([ID_TIPO_EVENTO])
REFERENCES [dbo].[MAE_TIPO_EVENTO] ([ID_TIPO_EVENTO])
GO
ALTER TABLE [dbo].[EVENTO] CHECK CONSTRAINT [FK_EVENTO_TIPO_EVENTO]
GO
ALTER TABLE [dbo].[EVENTO_ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_ASISTENCIA_EVENTO] FOREIGN KEY([ID_EVENTO])
REFERENCES [dbo].[EVENTO] ([ID_EVENTO])
GO
ALTER TABLE [dbo].[EVENTO_ASISTENCIA] CHECK CONSTRAINT [FK_EVENTO_ASISTENCIA_EVENTO]
GO
ALTER TABLE [dbo].[EVENTO_ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_ASISTENCIA_MODALIDAD] FOREIGN KEY([ID_MODALIDAD])
REFERENCES [dbo].[MAE_MODALIDAD] ([ID_MODALIDAD])
GO
ALTER TABLE [dbo].[EVENTO_ASISTENCIA] CHECK CONSTRAINT [FK_EVENTO_ASISTENCIA_MODALIDAD]
GO
ALTER TABLE [dbo].[EVENTO_ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_ASISTENCIA_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[EVENTO_ASISTENCIA] CHECK CONSTRAINT [FK_EVENTO_ASISTENCIA_PERSONA]
GO
ALTER TABLE [dbo].[EVENTO_DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [EVENTO_DOCUMENTO_EVENTO_FK] FOREIGN KEY([ID_EVENTO])
REFERENCES [dbo].[EVENTO] ([ID_EVENTO])
GO
ALTER TABLE [dbo].[EVENTO_DOCUMENTO] CHECK CONSTRAINT [EVENTO_DOCUMENTO_EVENTO_FK]
GO
ALTER TABLE [dbo].[EVENTO_DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [EVENTO_DOCUMENTO_MAE_TIPO_DOCUMENTO_REQUERIDO_FK] FOREIGN KEY([ID_TIPO_DOCUMENTO_REQUERIDO])
REFERENCES [dbo].[MAE_TIPO_DOCUMENTO_REQUERIDO] ([ID_TIPO_DOCUMENTO_REQUERIDO])
GO
ALTER TABLE [dbo].[EVENTO_DOCUMENTO] CHECK CONSTRAINT [EVENTO_DOCUMENTO_MAE_TIPO_DOCUMENTO_REQUERIDO_FK]
GO
ALTER TABLE [dbo].[EVENTO_FECHA]  WITH CHECK ADD  CONSTRAINT [FK_CUESTIONARIO] FOREIGN KEY([ID_CUESTIONARIO])
REFERENCES [dbo].[CUESTIONARIO] ([ID_CUESTIONARIO])
GO
ALTER TABLE [dbo].[EVENTO_FECHA] CHECK CONSTRAINT [FK_CUESTIONARIO]
GO
ALTER TABLE [dbo].[EVENTO_FECHA]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO] FOREIGN KEY([ID_EVENTO])
REFERENCES [dbo].[EVENTO] ([ID_EVENTO])
GO
ALTER TABLE [dbo].[EVENTO_FECHA] CHECK CONSTRAINT [FK_EVENTO]
GO
ALTER TABLE [dbo].[EVENTO_FECHA]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_ENCUESTA] FOREIGN KEY([ID_ENCUESTA])
REFERENCES [dbo].[ENCUESTA] ([ID_ENCUESTA])
GO
ALTER TABLE [dbo].[EVENTO_FECHA] CHECK CONSTRAINT [FK_EVENTO_ENCUESTA]
GO
ALTER TABLE [dbo].[EVENTO_PARTICIPANTE]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_PARTICIPANTE_EVENTO] FOREIGN KEY([ID_EVENTO])
REFERENCES [dbo].[EVENTO] ([ID_EVENTO])
GO
ALTER TABLE [dbo].[EVENTO_PARTICIPANTE] CHECK CONSTRAINT [FK_EVENTO_PARTICIPANTE_EVENTO]
GO
ALTER TABLE [dbo].[EVENTO_PARTICIPANTE]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_PARTICIPANTE_MODALIDAD] FOREIGN KEY([ID_MODALIDAD])
REFERENCES [dbo].[MAE_MODALIDAD] ([ID_MODALIDAD])
GO
ALTER TABLE [dbo].[EVENTO_PARTICIPANTE] CHECK CONSTRAINT [FK_EVENTO_PARTICIPANTE_MODALIDAD]
GO
ALTER TABLE [dbo].[EVENTO_PARTICIPANTE]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_PARTICIPANTE_PERSONA_DATA] FOREIGN KEY([ID_PERSONA_DATA])
REFERENCES [dbo].[PERSONA_DATA] ([ID_PERSONA_DATA])
GO
ALTER TABLE [dbo].[EVENTO_PARTICIPANTE] CHECK CONSTRAINT [FK_EVENTO_PARTICIPANTE_PERSONA_DATA]
GO
ALTER TABLE [dbo].[MAE_DISTRITO]  WITH CHECK ADD  CONSTRAINT [MAE_DISTRITO_MAE_PAIS_FK] FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[MAE_PAIS] ([ID_PAIS])
GO
ALTER TABLE [dbo].[MAE_DISTRITO] CHECK CONSTRAINT [MAE_DISTRITO_MAE_PAIS_FK]
GO
ALTER TABLE [dbo].[MAE_MODULO]  WITH CHECK ADD  CONSTRAINT [MAE_MODULO_MAE_MENU_FK] FOREIGN KEY([ID_MENU])
REFERENCES [dbo].[MAE_MENU] ([ID_MENU])
GO
ALTER TABLE [dbo].[MAE_MODULO] CHECK CONSTRAINT [MAE_MODULO_MAE_MENU_FK]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PAIS] FOREIGN KEY([ID_PAIS_NACIMIENTO])
REFERENCES [dbo].[MAE_PAIS] ([ID_PAIS])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PAIS]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_PROFESION] FOREIGN KEY([ID_PROFESION])
REFERENCES [dbo].[MAE_PROFESION] ([ID_PROFESION])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_PROFESION]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_TIPO_DOCUMENTO] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[MAE_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[PERSONA_DATA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_DATA_CARGO] FOREIGN KEY([ID_CARGO])
REFERENCES [dbo].[MAE_CARGO] ([ID_CARGO])
GO
ALTER TABLE [dbo].[PERSONA_DATA] CHECK CONSTRAINT [FK_PERSONA_DATA_CARGO]
GO
ALTER TABLE [dbo].[PERSONA_DATA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_DATA_DISTRITO] FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[MAE_DISTRITO] ([ID_DISTRITO])
GO
ALTER TABLE [dbo].[PERSONA_DATA] CHECK CONSTRAINT [FK_PERSONA_DATA_DISTRITO]
GO
ALTER TABLE [dbo].[PERSONA_DATA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_DATA_ENTIDAD] FOREIGN KEY([ID_ENTIDAD])
REFERENCES [dbo].[MAE_ENTIDAD] ([ID_ENTIDAD])
GO
ALTER TABLE [dbo].[PERSONA_DATA] CHECK CONSTRAINT [FK_PERSONA_DATA_ENTIDAD]
GO
ALTER TABLE [dbo].[PERSONA_DATA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_DATA_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[PERSONA_DATA] CHECK CONSTRAINT [FK_PERSONA_DATA_PERSONA]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID DEL USUARIO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MAE_USUARIO', @level2type=N'COLUMN',@level2name=N'ID_USUARIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'USUARIO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MAE_USUARIO', @level2type=N'COLUMN',@level2name=N'USUARIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ESTADO DEL USUARIO : 1 - ACTIVO / 0 - INACTIVO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MAE_USUARIO', @level2type=N'COLUMN',@level2name=N'ESTADO'
GO
